* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #0F0F0F;
    --on-primary-color: #FCFCFC;
    --secondary-color: #ffffff4d;
    --accent-color: #00ac64;
    --on-accent-color: #fcfcfc;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 8px;
    max-width: 1400px;
}

/* Layouts */
.column-4 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row-8 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.row-24 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.padding-verical-8 {
    padding: 8px 0;
}

.row-16 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

/* Header */
header {
    background: var(--primary-color);
    padding: 8px 0;
    border-bottom: 1px solid var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .container {
    max-width: unset;
    padding: 8px 24px;
}

header button {
    border: none;
    background: unset;
    cursor: pointer;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-action-container {
    width: 100%;
    margin-left: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: var(--on-primary-color);
    font-size: 16px;
    font-weight: 500;
    height: 32px;
}

.header-action:hover {
    color: var(--accent-color);
}

.header-action svg {
    transition: all .2s ease-in-out;
}

.header-action:hover svg {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    transition: all .3s ease-in-out;
}

.header-action:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 10;
    padding: 4px;
    border: 1px solid var(--secondary-color);
    background: var(--primary-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 16px;
    transition: all .5s ease-in-out;
}

.dropdown-menu li {
    list-style: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: var(--on-primary-color);
    border-radius: 4px;
    width: 120px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdown-menu li:hover {
    background-color: var(--secondary-color);
}

.search-input {
    height: 32px;
    width: 320px;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid var(--secondary-color);
    outline: none;
    transition: all .3s ease;
    background: unset;
    color: var(--on-primary-color);
}

.search-input:focus {
    border: 1px solid var(--on-primary-color);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--on-primary-color);
    cursor: pointer;
}

.highlight {
    color: var(--accent-color);
}

.menu-btn {
    display: none;
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

/* Mobile */
.header-action-container--mobile .dropdown-menu {
    position: unset;
    display: none;
    top: unset;
    left: unset;
}

.header-action-container--mobile .header-action {
    height: unset;
    flex-direction: column;
    padding: 8px 0;
}

.header-action-container--mobile .dropdown-menu ul {
    border: none;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.header-action-container--mobile .dropdown-menu li {
    width: unset;
}

.menu-modal {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: var(--primary-color);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-left: 1px solid var(--secondary-color);
    width: 360px;
}


.menu-modal.active {
    transform: translateX(0);
}

.close-modal-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--on-primary-color);
    width: 32px;
    height: 32px;
    font-weight: bold;
    font-size: 20px;
}

/* Main */
main {
    background: var(--primary-color);
    flex-grow: 1;
}

main .container {
    padding: unset;
    flex-grow: 1;
}

/* Footer */
footer {
    border-top: 1.5px solid var(--secondary-color);
    padding: 8px 0;
    margin-top: auto;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    font-weight: bold;
    text-align: end;
}

footer .container {
    padding: 8px 16px;
    max-width: unset;
}

.comic-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.comic-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 14px;
    padding: 8px 24px;
}

@media (max-width: 1300px) {
    .comic-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1100px) {
    .comic-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .header-action-container {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

@media (max-width: 800px) {
    .comic-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .comic-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

.comic {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.comic-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: transform .3s ease-in-out;
}

.comic-updated {
    position: absolute;
    background: rgba(255, 255, 255, .7);
    padding: 4px;
    border-radius: 6px;
    margin: 4px;
    color: var(--primary-color);
    font-size: 14px;
}

.comic:hover .comic-image {
    transform: scale(1.1);
}

.comic:hover .comic-name {
    color: var(--accent-color);
}

.comic:hover .comic-info {
    background: rgba(255, 255, 255, 1);
}

.comic-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 8px;
    justify-content: space-between;
    background: rgba(255, 255, 255, .7);
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
}

.comic-name {
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color .3s ease-in-out;
}


.skeleton {
    position: relative;
    background: var(--secondary-color);
    overflow: hidden;
}

.skeleton::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100px;
    left: -100px;
    top: 0;
    background: linear-gradient(to right, transparent, #ffffff70, transparent);
    animation: reflect 800ms ease-in-out infinite;
}

@keyframes reflect {
    to {
        left: calc(100% + 100px);
    }
}

/* Skeleton cho comic */
.comic-skeleton {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.skeleton-image {
    width: 100%;
    aspect-ratio: 2/2.5;
    border-radius: 8px;
}

.skeleton-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.skeleton-text {
    height: 16px;
    width: 80%;
    border-radius: 8px;
}

.skeleton-text.short {
    width: 50%;
}